li a{
    color: white;
    }
li a:hover{
    font-weight: bold;
    color: white;
    text-decoration: underline !important;
}
.navbar-toggler{
    border-color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand img{
    width:70px;
    animation-duration: 2s;
    animation-name: logoAnimation;
    position: relative;
}
@keyframes logoAnimation {
    0%   { left:0px; top:0px;}
    25%   { left:-50px; top:10px;}
    50%  {left:50px; top:0px;}
    100% { left:0px; top:0px;}
  }
 /* footer */
 #footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul li {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li,
#footer ul.quick-links li {
	color:#ffffff;
}
#footer ul.social li:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li i{
	margin-right: 6px;
}

#footer ul.quick-links li:hover i{
    font-weight: 700;
}
.h6 a:hover{
  font-weight: 700;
}
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

  /* carousel */
 
  /* packages */
  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    }
    .container-fostrap hr{
        height: 2px;
        margin-left: 45%;
    }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px
  }
  h1.heading {
    font-weight: 400;
    margin: 0 0 0.5em;
    color: black;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  } 
  .card {
    display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: cardAnimation;
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-content p {
     text-align:left !important;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  #price{
    font-weight: bolder; 
    color: green;
    text-align: right;
  }

  section {
    padding: 25px 0;
    }

@keyframes cardAnimation {
  0%   { left:0px; top:100px;}
  100% { left:0px; top:0px;}
}

/* About Us */
#aboutus p{
  /* text-align: left; */
  font-size: 16px;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  text-overflow: inherit; 
}

/* contact */
input[type=text],input[type=email],input[type=number], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
#enquiryForm {
  border-radius: 5px;
  background-color: #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

#contact li{
  font-size: 22px;
  padding: 4px;
  margin-top: 5px;
}
#contact li i{
 font-size: larger;
 font-weight: 200;
} 
#contact li p{
  margin-left: 35px;
}
#contact ul a{
 text-decoration: none;
 color: black;
}
#contact ul a:hover{
  color: green;
 }
 
 #Team .card{
  text-align: center;
  height: 400px;
}
#Team .card .btn{
  width: 80%;
  margin-left: 10%;
}
#Team .card img{
  padding: 2px;
  width: 200px;
  border-radius: 50%; 
  text-align: center;
}
#Team .card-content p, h4{
  text-align: center !important;
} 

 @media (max-width:770px){
  #contact li{
    font-size: 18px;
    padding: 2px;
    margin-top: 10px;
  } 
}


/* Tour and Packages */


/* Services */
#services .row{
  margin-bottom: 20px;
}

#services .row img{
  width: 100% !important; 
  height: 100%;
  animation-duration: 1.5s;
  animation-name: servicesImgAnimation;
  position: relative;
  }
#services img:hover{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

#services .card{
  height: 100%;
  width: 100%;
}
#services a{
  color: black;
  text-decoration: none !important;
}

#services h4, h6{
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}
#services #serviceCard{
  animation-duration: 1.5s;
  animation-name: servicesCardAnimation;
  position: relative;
}

@keyframes servicesImgAnimation {
  0%   { left:-200px; top:0px;}
  100% { left:0px; top:0px;}
}
@keyframes servicesCardAnimation {
  0%   { left:200px; top:0px;}
   100% { left:0px; top:0px;}
}
